body {
  border: 0;
  margin: 0%;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   /* Add your background pattern here */
   background: repeating-radial-gradient(
    circle,
    #000,
    #000 5px,
    transparent 6px
  );
  background-size: 20px 20px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
a {
    text-decoration: none;
    color: inherit;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  /* background-color: #111111;
  background-image: linear-gradient(
    32deg,
    rgba(8, 8, 8, 0.74) 30px,
    transparent
  );
  background-size: 60px 60px;
  background-position: -5px -5px; */
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin: 0;
  padding: 0;
}
.heading {

  background-image: -webkit-linear-gradient(
    45deg,
    #ffd0ef 23%,
    hsl(197, 100%, 81%) 72%,
    #ecedff 98%,
    #b086ff 88%
  );
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.card {
    text-decoration: none;
    font-size: medium;
  border: #ecedff 1px solid;
  border-radius: 120px;
  padding: 10px 10px;
  margin: 10px;
  width: 300px;
  text-align: center;
  background-color: #111111;

  color: wheat;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease,
    box-shadow 0.1s ease;
}
.card:hover {
  background-color: #c169f7db;
  scale: 1.01;
  color: #111111;
  border: wheat 2px solid;
  z-index: 1;
}
.card:active {
  background-color: #c169f7db;
  transform: scale(0.95);
}
.description {
    font-size:0rem; 
    font-weight: 100;
    color: white;
}